<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi aplicacion en angular</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" routerLink="dbz" routerLinkActive="active" >Api DBZ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="pokemon" routerLinkActive="active" >Api Pokemon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="cocteles" routerLinkActive="active" >Api cocteles</a>
                </li>
                

            </ul>

            <ng-container *ngIf="user$ | async as user; else showLogin">
                <div class="d-flex alig-intems-center">
                    <img [src]="user.photoURL" alt="user.displayName" class="img-fluid rounded-circle" style="width: 40px; height: 40px;">
                    <span class="ms-2">{{ user.displayName }}</span>
                    <button class="btn btn-outline-danger ms-2" (click)="logout()" type="button">
                        <i class="bi bi-box-arrow-left"></i> Logout
                     </button>
                </div>

            </ng-container>

            <ng-template #showLogin>

               <button class="btn btn-outline-danger" (click)="onGoogleLogin()" type="button"><i class="bi bi-google"></i> Login </button> 

            </ng-template>
       
        </div>
    </div>
</nav>
