<div class="row mb-3 g-3">
    <ng-container *ngIf="pokemonsAll && pokemonsAll.results && pokemonsAll.results.length > 0; else noPokemons">
        <div class="col-3" *ngFor="let pokemon of pokemonsAll.results">
            <div class="card fixed-card">
                <!-- Loader -->
                <div *ngIf="!imagenLoaded">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="shape-rendering: auto; display: block; background: rgb(255, 255, 255);" width="205" height="205" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <path stroke="none" fill="#e15b64" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50">
                                <animateTransform values="0 50 51;360 50 51" keyTimes="0;1" repeatCount="indefinite" dur="1s" type="rotate" attributeName="transform"></animateTransform>
                            </path>
                        </g>
                    </svg>
                </div>

                <!-- Imagen con retraso -->
                <img
                    [src]="pokemon.data?.sprites?.versions?.['generation-v']?.['black-white']?.animated?.front_default"
                    class="card-img-top fixed-img"
                    alt="..."
                    loading="lazy"
                    (load)="imagenLoaded = true"
                >

                <div class="card-body fixed-body">
                    <h5 class="card-title">{{pokemon.name}}</h5>
                    <p class="card-text">{{pokemon.data?.base_experience}}.</p>
                    <li  class="btn btn-outline-primary" (click)="openModal(pokemon.data!)">Más información</li>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #noPokemons>
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                No pokemons found
            </div>
        </div>
    </ng-template>
</div>




<pokemon-modal />